.spec .container, .logo .container, .about .container, .services .container, .banner .container, .container {
  display: flex;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1200px) {
  .spec .container, .logo .container, .about .container, .services .container, .banner .container, .container {
    padding-right: calc(8px + 7 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .spec .container, .logo .container, .about .container, .services .container, .banner .container, .container {
    padding-left: calc(8px + 7 * ((100vw - 320px) / 880));
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  align-content: center;
  margin: 31px auto 150px;
  margin-top: 31px;
  margin-bottom: 31px;
  width: 100%;
  flex-grow: 1;
  min-height: 500px;
  background-image: url("../../../assets/Images/Homeimg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width: 1200px) {
  .banner {
    margin-top: calc(15px + 16 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .banner {
    margin-bottom: calc(15px + 16 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768px) {
  .banner {
    background-image: none;
    min-height: auto;
  }
}
.banner .container {
  align-self: center;
  text-align: left;
}
@media (max-width: 768px) {
  .banner .container {
    justify-content: center;
  }
}
.banner .container .banner__body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 40%;
  justify-self: flex-start;
}
@media (max-width: 768px) {
  .banner .container .banner__body {
    width: 80%;
  }
}
.banner .container .banner__body .banner__title {
  margin-bottom: 15px;
  color: #1C1C1C;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: 6.64px;
  text-transform: uppercase;
}
.banner .container .banner__body .banner__subtitle {
  margin-bottom: 23px;
  color: #143450;
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 114.5%;
}
.banner .container .banner__body .banner__text {
  margin-bottom: 14px;
  color: #1C1C1C;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}
.banner .container .banner__body .banner__btn {
  display: inline-block;
}

.services {
  display: flex;
  flex-direction: column;
}
.services .container {
  flex-direction: column;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .services .container {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }
}
.services .container .services__title {
  text-align: center;
  margin-bottom: 16px;
  color: #1C1C1C;
  width: 80%;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
  letter-spacing: 5.81px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .services .container .services__title {
    margin-bottom: calc(8px + 8 * ((100vw - 320px) / 880));
  }
}
.services .container .services__subtitle {
  width: 80%;
  margin-bottom: 24px;
  color: #1C1C1C;
  text-align: center;
  font-size: 30px;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
@media (max-width: 1200px) {
  .services .container .services__subtitle {
    margin-bottom: calc(12px + 12 * ((100vw - 320px) / 880));
  }
}
.services .container .card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.services .container .card .card__column {
  padding: 45px 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;
  width: 285px;
}
@media (max-width: 1200px) {
  .services .container .card .card__column {
    padding-top: calc(20px + 25 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .services .container .card .card__column {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .services .container .card .card__column {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .services .container .card .card__column {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 992px) {
  .services .container .card .card__column {
    width: 30%;
    text-align: justify;
    word-wrap: break-word;
  }
}
@media (max-width: 768px) {
  .services .container .card .card__column {
    width: 45%;
  }
}
@media (max-width: 552px) {
  .services .container .card .card__column {
    width: 90%;
  }
}
.services .container .card .card__column .card__image {
  margin-bottom: 17px;
}
@media (max-width: 552px) {
  .services .container .card .card__column .card__image {
    display: flex;
    justify-content: center;
  }
}
.services .container .card .card__column .card__title {
  margin-bottom: 11px;
  color: #1C1C1C;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1600));
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 114.5%;
}
@media (max-width: 1200px) {
  .services .container .card .card__column .card__title {
    margin-bottom: calc(8px + 3 * ((100vw - 320px) / 880));
  }
}
.services .container .card .card__column .card__text {
  margin-bottom: 11px;
  color: #545454;
  font-size: 16px;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 142%;
}
@media (max-width: 1200px) {
  .services .container .card .card__column .card__text {
    margin-bottom: calc(8px + 3 * ((100vw - 320px) / 880));
  }
}
.services .container .card .card__column .card__subtext {
  display: flex;
  justify-content: space-between;
}
.services .container .card .card__column .card__subtext p {
  margin-bottom: 8px;
  color: #363636;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
@media (max-width: 1200px) {
  .services .container .card .card__column .card__subtext p {
    margin-bottom: calc(5px + 3 * ((100vw - 320px) / 880));
  }
}
.services .container .card .card__pages {
  width: 40%;
  margin-bottom: 115px;
}

.about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("../../../assets/Images/HomeAbout.jpg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: var(--max-width);
  flex-grow: 1;
}
@media (max-width: 768px) {
  .about {
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .about {
    background-image: none;
  }
}
.about .container {
  justify-content: flex-end;
}
.about .container .about__body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 45%;
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 116px;
  margin-bottom: 116px;
}
@media (max-width: 1200px) {
  .about .container .about__body {
    padding-top: calc(20px + 32 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body {
    padding-bottom: calc(20px + 32 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body {
    padding-left: calc(30px + 14 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body {
    padding-right: calc(30px + 14 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body {
    margin-top: calc(20px + 96 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body {
    margin-bottom: calc(20px + 96 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 576px) {
  .about .container .about__body {
    width: 100%;
  }
}
.about .container .about__body .about__suptitle {
  font-family: "Lato", sans-serif;
  font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__suptitle {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 880));
  }
}
.about .container .about__body .about__title {
  font-size: calc(24px + 6 * ((100vw - 320px) / 1600));
  font-family: "Montserrat", sans-serif;
  margin-bottom: 23px;
  line-height: 1.3;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__title {
    margin-bottom: calc(16px + 7 * ((100vw - 320px) / 880));
  }
}
.about .container .about__body .about__subtitle {
  font-family: "Lato", sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  margin-bottom: 30px;
  line-height: 142%;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__subtitle {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
.about .container .about__body .about__cards {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__cards {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768px) {
  .about .container .about__body .about__cards {
    flex-direction: column;
  }
}
.about .container .about__body .about__cards .about__card {
  display: flex;
  align-items: center;
}
.about .container .about__body .about__cards .about__card:first-child {
  margin-right: 8px;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__cards .about__card:first-child {
    margin-right: calc(5px + 3 * ((100vw - 320px) / 880));
  }
}
.about .container .about__body .about__cards .about__card img {
  height: 100%;
  margin-right: 14px;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .about .container .about__body .about__cards .about__card img {
    margin-right: calc(10px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .about .container .about__body .about__cards .about__card img {
    margin-bottom: calc(10px + -10 * ((100vw - 320px) / 880));
  }
}
.about .container .about__body .about__cards .about__card p {
  font-family: "Lato", sans-serif;
  line-height: 1.42;
  text-align: left;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
}
.about .container .about__body .about__button {
  width: 48%;
  font-size: calc(12px + 4 * ((100vw - 320px) / 1600));
  font-family: "Inter", sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .about .container .about__body .about__button {
    width: 100%;
  }
}

.logo {
  width: 100%;
  margin-top: 78px;
  margin-bottom: 78px;
}
@media (max-width: 1200px) {
  .logo {
    margin-top: calc(20px + 58 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .logo {
    margin-bottom: calc(20px + 58 * ((100vw - 320px) / 880));
  }
}
.logo .container {
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 768px) {
  .logo .container {
    flex-wrap: wrap;
  }
}
.logo .container .logo__item {
  display: flex;
}
@media (max-width: 768px) {
  .logo .container .logo__item {
    width: 48%;
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .logo .container .logo__item {
    justify-content: left;
  }
}
.logo .container .logo__item img {
  width: fit-content;
  margin-right: 8px;
}
@media (max-width: 576px) {
  .logo .container .logo__item img {
    height: 20px;
  }
}
.logo .container .logo__item p {
  color: #0152A8;
  font-family: "Montserrat", sans-serif;
  font-size: calc(18px + 7 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 32.5px */
}

.cta {
  width: 100%;
  background-image: url("../../../assets/Images/BackCta.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 160px;
}
@media (max-width: 1200px) {
  .cta {
    margin-top: calc(60px + 100 * ((100vw - 320px) / 880));
  }
}
.cta .cta__title {
  color: #FFF;
  text-align: center;
  font-size: calc(25px + 25 * ((100vw - 320px) / 1600));
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 32px;
}
.cta .cta__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cta .cta__body {
    flex-direction: column;
  }
}
.cta .cta__body .cta__text {
  margin: 0 21px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

.spec {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .spec {
    margin-top: calc(40px + 110 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .spec {
    margin-bottom: calc(40px + 110 * ((100vw - 320px) / 880));
  }
}
.spec .container {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .spec .container {
    flex-direction: column;
  }
}
.spec .container .spec__body {
  display: flex;
  flex-direction: column;
  width: 43%;
}
@media (max-width: 992px) {
  .spec .container .spec__body {
    margin-bottom: 20px;
    width: 100%;
  }
}
.spec .container .spec__body .spec__suptitle {
  font-family: "Lato", sans-serif;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1600));
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 19.88px */
  letter-spacing: 5.81px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .spec .container .spec__body .spec__suptitle {
    margin-bottom: calc(10px + 6 * ((100vw - 320px) / 880));
  }
}
.spec .container .spec__body .spec__title {
  font-family: "Montserrat", sans-serif;
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 39px */
}
@media (max-width: 1200px) {
  .spec .container .spec__body .spec__title {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 880));
  }
}
.spec .container .spec__body .spec__subtitle {
  font-family: "Lato", sans-serif;
  margin-bottom: 33px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  font-style: normal;
  font-weight: 400;
  line-height: 142%; /* 22.72px */
}
@media (max-width: 1200px) {
  .spec .container .spec__body .spec__subtitle {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 880));
  }
}
.spec .container .spec__body .spec__check {
  margin-bottom: 33px;
  display: flex;
}
@media (max-width: 1200px) {
  .spec .container .spec__body .spec__check {
    margin-bottom: calc(20px + 13 * ((100vw - 320px) / 880));
  }
}
.spec .container .spec__body .spec__check img {
  margin-right: 9px;
}
.spec .container .spec__body .spec__button {
  width: 50%;
  align-items: center;
  align-self: center;
}
.spec .container .spec__cards {
  display: flex;
}
@media (max-width: 576px) {
  .spec .container .spec__cards {
    width: 90%;
    display: flex;
    justify-content: center;
  }
}
.spec .container .spec__cards .spec__card {
  margin-right: 15px;
}
@media (max-width: 992px) {
  .spec .container .spec__cards .spec__card {
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .spec .container .spec__cards .spec__card img {
    height: 100%;
  }
}
@media (max-width: 900px) {
  .spec .container .spec__cards .spec__card:last-child {
    display: none;
  }
}
.spec .container .spec__cards .spec__card:first-child {
  margin-left: 15px;
}

/*# sourceMappingURL=Home.module.css.map */
