.home {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    width: 100%;
}



.home_item {
    width: 100%;
    margin: 0 auto;
    /*position: relative;*/

}

.container {
    max-width: 1200px;
    font-size: 1rem;
    color: white;
    margin: 0 auto ;
    align-self: center;
    text-align: left;
}

.home_item {
    margin-top: 2.06687%;
    width: 91%;
}

.banner {
    background-image: url("../../../assets/Images/Homeimg.png");
    background-repeat: no-repeat;
    background-position: top left 70%;
    background-size: cover;
    min-height: 761px;
    display: flex;
    position: relative;
    align-content: center;
}

.banner_inner {
    margin: 0;
    position: absolute;
    left: 14.2%;
}


.banner_suptitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.415em;
    line-height: 142%;
    padding: 0 .6875rem;
    background-color: var(--primary2);
    display: inline;
}

.banner_title {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: .875rem 0 1.4375rem 0;
    font-size: 3.125rem;
    width: 44.17%;
    text-align: left;
    line-height: 114.5%;
    color: var(--primary3)
}

.banner_subtitle {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42rem;
    width: 33.125rem;
    margin-bottom: .875rem;
}