:root {
    --primary1: #0152A8;
    --primary2: #0fe3a7;
    --primary3: #143450;
    --secondary1: #DCEDFE;
    --secondary2: #E5F2EF;
    --secondary3: #F1F1F1;

}

@font-face {
    font-family: 'Inter';
    src: url('assets/Fonts/Inter-Medium.eot');
    src: url('assets/Fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Inter-Medium.woff2') format('woff2'),
    url('assets/Fonts/Inter-Medium.woff') format('woff'),
    url('assets/Fonts/Inter-Medium.ttf') format('truetype'),
    url('assets/Fonts/Inter-Medium.svg#Inter-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/Fonts/Inter-Regular.eot');
    src: url('assets/Fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Inter-Regular.woff2') format('woff2'),
    url('assets/Fonts/Inter-Regular.woff') format('woff'),
    url('assets/Fonts/Inter-Regular.ttf') format('truetype'),
    url('assets/Fonts/Inter-Regular.svg#Inter-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('assets/Fonts/Inter-SemiBold.eot');
    src: url('assets/Fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Inter-SemiBold.woff2') format('woff2'),
    url('assets/Fonts/Inter-SemiBold.woff') format('woff'),
    url('assets/Fonts/Inter-SemiBold.ttf') format('truetype'),
    url('assets/Fonts/Inter-SemiBold.svg#Inter-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-Bold.eot');
    src: url('assets/Fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-Bold.woff2') format('woff2'),
    url('assets/Fonts/Lato-Bold.woff') format('woff'),
    url('assets/Fonts/Lato-Bold.ttf') format('truetype'),
    url('assets/Fonts/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-BoldItalic.eot');
    src: url('assets/Fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('assets/Fonts/Lato-BoldItalic.woff') format('woff'),
    url('assets/Fonts/Lato-BoldItalic.ttf') format('truetype'),
    url('assets/Fonts/Lato-BoldItalic.svg#Lato-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-Medium.eot');
    src: url('assets/Fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-Medium.woff2') format('woff2'),
    url('assets/Fonts/Lato-Medium.woff') format('woff'),
    url('assets/Fonts/Lato-Medium.ttf') format('truetype'),
    url('assets/Fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-Regular.eot');
    src: url('assets/Fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-Regular.woff2') format('woff2'),
    url('assets/Fonts/Lato-Regular.woff') format('woff'),
    url('assets/Fonts/Lato-Regular.ttf') format('truetype'),
    url('assets/Fonts/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-MediumItalic.eot');
    src: url('assets/Fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-MediumItalic.woff2') format('woff2'),
    url('assets/Fonts/Lato-MediumItalic.woff') format('woff'),
    url('assets/Fonts/Lato-MediumItalic.ttf') format('truetype'),
    url('assets/Fonts/Lato-MediumItalic.svg#Lato-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/Fonts/Lato-SemiBold.eot');
    src: url('assets/Fonts/Lato-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Lato-SemiBold.woff2') format('woff2'),
    url('assets/Fonts/Lato-SemiBold.woff') format('woff'),
    url('assets/Fonts/Lato-SemiBold.ttf') format('truetype'),
    url('assets/Fonts/Lato-SemiBold.svg#Lato-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Fonts/Montserrat-Regular.eot');
    src: url('assets/Fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Montserrat-Regular.woff2') format('woff2'),
    url('assets/Fonts/Montserrat-Regular.woff') format('woff'),
    url('assets/Fonts/Montserrat-Regular.ttf') format('truetype'),
    url('assets/Fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Fonts/Montserrat-Bold.eot');
    src: url('assets/Fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Montserrat-Bold.woff2') format('woff2'),
    url('assets/Fonts/Montserrat-Bold.woff') format('woff'),
    url('assets/Fonts/Montserrat-Bold.ttf') format('truetype'),
    url('assets/Fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Fonts/Montserrat-ExtraBold.eot');
    src: url('assets/Fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('assets/Fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('assets/Fonts/Montserrat-ExtraBold.ttf') format('truetype'),
    url('assets/Fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Fonts/Montserrat-Medium.eot');
    src: url('assets/Fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Montserrat-Medium.woff2') format('woff2'),
    url('assets/Fonts/Montserrat-Medium.woff') format('woff'),
    url('assets/Fonts/Montserrat-Medium.ttf') format('truetype'),
    url('assets/Fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Fonts/Montserrat-SemiBold.eot');
    src: url('assets/Fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('assets/Fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('assets/Fonts/Montserrat-SemiBold.woff') format('woff'),
    url('assets/Fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('assets/Fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}





/*@font-face {*/
/*    font-family: 'Lato';*/
/*    src: url("./assets/Fonts/Lato-Regular.ttf") format(".ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Lato';*/
/*    src: url("./assets/Fonts/Lato-Bold.ttf") format(".ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Inter';*/
/*    src: url("./assets/Fonts/Inter-VariableFont_slnt,wght.ttf") format(".ttf");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Montserrat';*/
/*    src: url("./assets/Fonts/Montserrat-Bold.ttf") format(".ttf");*/
/*}@font-face {*/
/*    font-family: 'Montserrat';*/
/*    src: url("./assets/Fonts/Montserrat-Regular.ttf") format(".ttf");*/
/*}@font-face {*/
/*    font-family: 'Montserrat';*/
/*    src: url("./assets/Fonts/Montserrat-SemiBold.ttf") format(".ttf");*/
/*}*/


body {

}

.container {
    max-width: 1170px;
    font-size: 1rem;
    padding: 0 15px;

    margin: 0 auto;
    align-items: center;
}


/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color: black;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{
    font-size:inherit;
    font-weight: 400;
    color:black;
}
/*--------------------*/