:root {
    --primary1: #0152A8;
    --primary2: #0fe3a7;
    --primary3: #143450;
    --secondary1: #DCEDFE;
    --secondary2: #E5F2EF;
    --secondary3: #F1F1F1;

}


@font-face {
    font-family: 'Lato';
    src: url("./assets/Fonts/Lato-Regular.ttf") format(".ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("./assets/Fonts/Lato-Bold.ttf") format(".ttf");
}

@font-face {
    font-family: 'Inter';
    src: url("./assets/Fonts/Inter-VariableFont_slnt,wght.ttf") format(".ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("./assets/Fonts/Montserrat-Bold.ttf") format(".ttf");
}@font-face {
    font-family: 'Montserrat';
    src: url("./assets/Fonts/Montserrat-Regular.ttf") format(".ttf");
}@font-face {
    font-family: 'Montserrat';
    src: url("./assets/Fonts/Montserrat-SemiBold.ttf") format(".ttf");
}

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    margin: 0 auto
}

.container {
    max-width: 1170px;
    font-size: 1rem;
    padding: 0 15px;
    color: white;
    margin: 0 auto;
    align-items: center;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}