/*Header*/

.header {
    width: 100%;
    position: relative;
    height: fit-content;
}

.container {
    max-width: 1200px;
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    align-items: center;
}

.number_text {
    color: white;
}

.header_item {
    /*numbers margin*/
    height: fit-content;
    background-color: var(--primary1);
    margin-bottom: 2.4375rem;
}


/*Navbar*/
.number, .navbar{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.number_inner {
    display: flex;
    align-items: center;
    margin: 0.8125rem 0;
    text-align: center;
}

.number_inner_img {
    height: fit-content;
}


.navbar_item{
    display: flex;
    flex-flow: row nowrap;
    width: 41.33%;
    flex: 1 0 auto;
    justify-content: space-around;
    padding-left: 14.34%;
    padding-right: 14.11083%;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

.navbar_item_link {
    display: inline-block;
    font-size: 1.125rem;

    color: black;
}


.navbar_item.active {
    color: red
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
    width: 3.836875rem;
    height: 3.615rem;
}

.logo span {
    color: black;
    font-size: 1.875rem;
}

